<div>
  <div>
    <h1>
      List of <%= @current_user.email %>'s alerts
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new alert
    </h2>

    <form action="/insert_alert" method="post">
      <div>
        <label for="address_box">
          <b>Location: </b>
        </label>

        <input type="text" id="address_box" name="query_address" placeholder="Enter a location..." required>
        <i>For most accurate results, enter an exact address</i>
      </div>

      <div>
        <label for="alert_send_time_box">
          <b>Alert Time:</b>
        </label>

        <input type="time" id="alert_send_time_box" name="query_alert_send_time" placeholder="7:30 AM" required>
        <i>(in <%= @current_user.time_zone %>)</i>
      </div>


      <b>Alert Days:</b>
      <div class="form-check form-check-inline">
        <input type="checkbox" id="Sunday_box" name="query_Sunday" value="1">

        <label for="Sunday_box">Sunday</label>
      </div>

      <div class="form-check form-check-inline">
        <input type="checkbox" id="Monday_box" name="query_Monday" value="1">

        <label for="Monday_box">Monday</label>
      </div>

      <div class="form-check form-check-inline">
        <input type="checkbox" id="Tuesday_box" name="query_Tuesday" value="1">

        <label for="Tuesday_box">Tuesday</label>
      </div>

      <div class="form-check form-check-inline">
        <input type="checkbox" id="Wednesday_box" name="query_Wednesday" value="1">

        <label for="Wednesday_box">Wednesday</label>
      </div>

      <div class="form-check form-check-inline">
        <input type="checkbox" id="Thursday_box" name="query_Thursday" value="1">

        <label for="Thursday_box">Thursday</label>
      </div>

      <div class="form-check form-check-inline">
        <input type="checkbox" id="Friday_box" name="query_Friday" value="1">

        <label for="Friday_box">Friday</label>
      </div>

      <div class="form-check form-check-inline">
        <input type="checkbox" id="Saturday_box" name="query_Saturday" value="1">

        <label for="Saturday_box">Saturday</label>
      </div>

      <div>
        <label for="forecast_start_time_box">
          <b>Forecast Time:</b> from
        </label>

        <input type="time" id="forecast_start_time_box" name="query_forecast_start_time" placeholder="8:00 AM" required>

               <label for="forecast_end_time_box">
          to
        </label>

        <input type="time" id="forecast_end_time_box" name="query_forecast_end_time" placeholder="6:00 PM" required>
        <i>(in <%= @current_user.time_zone %>)</i>
      </div>

      <div>
 
      </div>
      <button>
        Create alert
      </button>
    </form>
      <div>
        <hr>
        <h4>Notes</h4>
        <ul>
          <li>You will receive a text notification at <b><%= Phone.new(@current_user.phone_number).display %></b> at the <b>Alert Time</b> on the <b>Alert Days</b> if the weather forecast for the <b>Location</b> calls for rain during the <b>Forecast Time</b> period.</li>
          <li>All times are in <b><%= @current_user.time_zone %></b>, based on your profile preferences.</li>
          <li>If the <b>Alert Time</b> is before the <b>Forecast Start Time</b>, then the <b>Forecast Start Time</b> is on the following day.</li>
          <li>If the <b>Forecast End Time</b> is before the <b>Forecast Start Time</b>, then the <b>Forecast End Time</b> is on the following day.</li> 
        </ul>
      </div>

  </div>
</div>

<hr>
<div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            Address
          </th>

          <th scope="col">
            Alert Send Time
          </th>

          <th scope="col">
            Forecast Time
          </th>

          <th scope="col">
            Details
          </th>

          <th scope="col">
            Delete
          </th>
        </tr>
      </thead>
      <% @list_of_alerts.each do |an_alert| %>
      <tr>
        <td>
          <%= an_alert.address %>
        </td>

        <td>

          <%= an_alert.alert_send_time.in_time_zone(@current_user.time_zone).strftime(" %l:%M %p %Z")  %>
          on
          <% if an_alert.Sunday %>
            Sun
          <% end %>
        
          <% if an_alert.Monday %>
            Mon
          <% end %>
        
          <% if an_alert.Tuesday %>
            Tue
          <% end %>
        
          <% if an_alert.Wednesday %>
            Wed
          <% end %>
        
          <% if an_alert.Thursday %>
            Thu
          <% end %>
        
          <% if an_alert.Friday %>
            Fri
          <% end %>
        
          <% if an_alert.Saturday %>
            Sat
          <% end %>

        </td>

        <td>
          <%= an_alert.forecast_start_time.in_time_zone(@current_user.time_zone).strftime(" %l:%M %p") %>
          to
          <%= an_alert.forecast_end_time.in_time_zone(@current_user.time_zone).strftime(" %l:%M %p %Z") %>
        </td>

        <td>
          <a href="/alerts/<%= an_alert.id %>">
            Details
          </a>
        </td>

        <td>
          <a href="/delete_alert/<%= an_alert.id %>">
            <b class="text-danger"><i class="far fa-fw fa-trash-alt"></i></b>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>